body {
    background-color: #f1ede9;
    color: rgba(0, 0, 0, 0.538);
    font-family: "Roboto", sans-serif;
}
/* le body permet au <body> de l'html d'avoir une mise en page  */
h2,
strong,
em {
    color: rgb(4, 0, 255);
}

hr {
    border-color: rgb(19, 225, 0);
    border-bottom: 3px solid;
}

h1 {
    color: red;
}

.signature {
    font-family: "Roboto", sans-serif;
    text-align: right;
}

.background-section {
    background-color: rgba(127, 255, 212, 0.445);
    padding: 0 10px 0 10px;
}

.hidden {
    display: none;
}

.colonnes {
    display: flex;
    justify-content: space-around;
}

label {
    width: 150px;
    text-align: right;
    display: inline-block;
}